
/* CONTENT */

.content {
    display: flex;
    flex-direction: column;
    padding: 46px 10% 46px 10%;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.content .container {
    flex-direction: column;
}

/* 1 */

.content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 26px;
    text-align: justify;
    color: #000000;
}

.video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
.video {
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 50%;
}

/* 2 */

.content-property {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 26px;
    color: white;
    padding: 0 10% 0 10%;
    text-align: left;
}

.property-block {
    background-color: #89A9FF;
    margin-bottom: 30px;
    padding: 30px 50px 30px 50px;
}

.content-property > .property-block:last-child {
    margin-bottom: 0;
}

.block-name {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
}

/* 3 */

.content-comparison {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 26px;
    color: white;
    text-align: left;
    margin-top: 40px;
}

.comparison-blocks {
    margin-top: 20px;
}

.blocks-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
}

.blocks-row:last-child {
    margin-bottom: 0;
}

.comparison-block {
    width: 25%;
    min-width: 200px;
    padding: 40px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #89A9FF;
    border-radius: 20px;
    position: relative;
    text-align: center;
    margin-right: 5%;
}
.blocks-row > .comparison-block:last-child {
    margin-right: 0;
}

.block-icon {
    position: absolute;
    left: 0;
    top: -8%;
    z-index: 0;
}
.comparison-block .block-name, .block-text {
    position: relative;
    z-index: 1;
}
.comparison-block .block-name {
    width: 80%;
}

/* MEDIA */

@media (max-width:1150px){
    .comparison-block {
        margin-right: 0;
        margin-bottom: 5%;
    }
}

@media (max-width: 1443px){
    .comparison-block {
        width: 60%;
        margin-right: 0;
        margin-bottom: 5%;
    }
    .blocks-row {
        margin-bottom: 0;
    }
}

@media (max-width:1000px) {
    .comparison-block {
        margin-bottom: 10%;
    }
}